.DS_Store
.externalNativeBuild
/.gradle/
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/shelf/
/.idea/workspace.xml
/.kotlin/
/build/
/captures/
/local.properties
*.iml
